name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install deps
      run: sudo apt-get update && sudo apt-get install -y ninja-build cmake g++-14 gcc-14 lcov

    - name: Configure
      run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --parallel

    - name: Test (Gtest)
      run: ctest --output-on-failure --test-dir build -j $(nproc) --output-junit gtest.xml

    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      with:
        name: gtest
        path: build/gtest.xml

    - name: Coverage (gcov/lcov)
      run: |
        rm -rf build
        gcc -v
        cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug \
              -DCMAKE_CXX_FLAGS="--coverage" -DCMAKE_C_FLAGS="--coverage"
        cmake --build build --parallel
        lcov --capture --initial --directory build --gcov-tool /usr/bin/gcov-14 --output-file base.info --ignore-errors mismatch
        lcov --remove base.info '/usr/*' '*/googletest/*' --output-file base.info
        ctest --output-on-failure --test-dir build
        apt-cache madison lcov
        gcov -v
        lcov --version
        lcov --capture --directory build --gcov-tool /usr/bin/gcov-14 --output-file coverage.info --ignore-errors mismatch
        lcov --add-tracefile base.info --add-tracefile coverage.info --output-file total.info
        lcov --remove total.info '/usr/*' '*/googletest/*' --output-file total.info
        genhtml coverage.info --output-directory coverage_html

    - name: Upload Coverage HTML
      uses: actions/upload-artifact@v4
      with:
        name: coverage_html
        path: coverage_html
